.clients-cards__wrapper {
  max-width: 320px;
  margin: 0 auto;
}


.review {
  background-color: #f2f2f2;
}

.review__time {
  font-family: "Opensans-light", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
}

.review__text {
  font-family: "MYRIADPRO-REGULAR", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.clients-cards__list {
  list-style: none;
}

.clients-cards__text {
  margin: 0 auto;
  padding: 55px 0 55px;
  width: 242px;
  text-align: center;
  background-color: #fff;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
