.review {
  background-color: #f2f2f2;
}

.review__name {
  margin: 0;
}

.review__time {
  font-family: "Opensans-light", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283645;
}

.review__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.clients-cards__wrap {
  padding: 0 20px;
}

.clients-cards__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.clients-cards__review {
  padding-left: 18px;
}

.clients-cards__nonpanorama {
  margin: 0 20px;
}

.clients-cards__review {

  padding-top: 25px;
  padding-bottom: 26px;
  background-color: #f2f2f2;

}

.clients-cards__list {
  padding: 0;
  list-style: none;
}

.clients-cards__item {
  padding-bottom: 18px;
}

.clients-cards__text {
  margin: 0 auto;
  padding: 55px 0 55px;
  width: 242px;
  text-align: center;
  background-color: #fff;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.clients-cards__link {
  margin: 0;
  padding: 0;
  display: flex;
}
