.review {
  background-color: #f2f2f2;
}

.review__name {
  margin: 0;
}

.review__time {
  font-family: "Opensans-light", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.review__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.review__toggle {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

.review__like-button {
  display: flex;
}

.clients-cards__wrap {
  padding: 0 20px;
}

.clients-cards__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.clients-cards__review {
  padding-left: 18px;
  color: #283645;

}

.clients-cards__nonpanorama {
  margin: 0 20px;
}

.clients-cards__review {

  padding: 25px 20px;
  background-color: #f2f2f2;

}

.clients-cards__list {
  padding: 0;
  list-style: none;
}

.clients-cards__item {
  padding-bottom: 18px;
}


.clients-cards__link {
  display: block;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.clients-cards__description {
  text-align: center;
  background-color: #fff;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
