.container-app__text {
  margin-top: 10px;
  font-family: MYRIADPRO-REGULAR;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  border: 3px solid #ffffff;
  display: block;
  width: 280px;
  min-width: 280px;
  padding: 13px 10px;
  min-height: 55px;
  border-radius: 36px;
  font-family: inherit;
  text-align: center;
  letter-spacing: normal;
  box-sizing: border-box;
  font-weight: 700;
  color: #fff;
}
