.container-app__text {
  margin-top: 10px;
  font-family: MYRIADPRO-REGULAR;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  border: 3px solid #ffffff;
  display: inline-block;
  min-width: 280px;
  padding: 13px 10px;
  border-radius: 36px;
  font-family: inherit;
  letter-spacing: normal;
  box-sizing: border-box;
  font-weight: 700;
}

.container-app__download {
  text-align: center;
}
