.device {
  justify-content: space-between;
}

.device__list {
  margin: 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  flex-direction: row;
  list-style: none;
}
