.btn {
  background: none;
  text-decoration: none;
  border: 3px solid #d22856;
  border-radius: 60px;
  padding: 16px 40px;
  width: 283px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #d22856;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.filter__submit {
  margin-top: 12px;
  color: #e3e4e4;
  border-color: #dddfe0;
}
