.filter__submit {
  width: 280px;
  min-width: 280px;
  padding: 13px 10px;
  min-height: 55px;
  margin-left: 0;
  border-radius: 36px;
  font-family: inherit;
  text-align: center;
  letter-spacing: .2px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
