.information__description {
  margin: auto;
  text-align: center;
  width: 205px;

}

.information__h2,
.information__text-p {
  font-family: "MYRIADPRO-REGULAR";
  font-size: 24px;
  color: #283645;
  font-weight: 400;
}

.information__title {
  font-family: "MYRIADPRO-REGULAR";
  font-size: 18px;
  line-height: 10px;
  color: #283645;
}

.information__text {
  font-family: "Opensans-light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
