.intro__title {
  background: url(../img/bg-back-mobile@1x.jpg);
}

.intro__img {
  background: url(../img/iphone-hand-mobile@1x.png);
}

.intro__app {
  background-color: #1d2631;
}

.intro__slogan {
  font-family: Opensans-light;
  font-size: 24px;
  line-height: 0%;
  color: #fff;
}

.intro__description {
  font-family: "MYRIADPRO-REGULAR";
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
