 .intro {
   background-color: #1d2631;
   color: #fff;
 }

 .intro__wrapper {
   margin-top: 264px;
 }

 .intro__title {
   margin-top: 264px;
   background: url(../img/bg-back-mobile@1x.jpg);
   background-repeat: no-repeat;
 }

 .intro__img {
   margin-top: 34px;
   padding-top: 264px;
   background: url(../img/iphone-hand-mobile@1x.png);
   background-repeat: no-repeat;
 }

 .intro__app {
   background-color: #1d2631;

 }

 .intro__slogan {
   margin: 0;
   padding: 20px 20px 0 20px;
   font-family: "Opensans-light", "Arial", sans-serif;
   font-size: 24px;
   color: #fff;
   text-align: center;
 }

 .intro__description {
   margin: 0 auto;
   margin-top: 20px;
   font-family: "MYRIADPRO-REGULAR";
   font-size: 14px;
   line-height: 24px;
   color: #a1a3a6;
   text-align: center;
   width: 260px;
 }

 .intro__text {
   margin: 0 auto;
   padding: 37px 0 88px;
   color: #fff;
   font-family: "Opensans-light", "Arial", sans-serif;
   font-size: 24px;
   text-align: center;
   width: 260px;

 }
