.intro__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.intro__title {
  background: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.intro__img {
  margin-top: 34px;
  padding-top: 264px;
  background: url(../img/iphone-hand-mobile@1x.png);
  background-repeat: no-repeat;
}

.intro__app {
  background-color: #1d2631;

}

.intro__slogan {
  margin: 0;
  padding-left: 20px;
  padding-top: 29px;
  font-family: "Opensans-light", "Arial", sans-serif;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.intro__description {
  margin: 0 auto;
  padding: 20px 20px 30px;
  font-family: "MYRIADPRO-REGULAR";
  font-size: 14px;
  line-height: 24px;
  color: #a1a3a6;
  text-align: center;
  width: 260px;
}

.intro__text {
  padding-top: 359px;
  font-size: 24px;
  color: #fff;
}

.intro__device {
  padding: 20px 0 30px;
}
