$bg-color: #283645;

.main-nav__list {
  list-style: none;
}

.main-nav {
  background-color: $bg-color;
}

.main-nav__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
}

.main-nav__item {
  min-height: 46px;
  padding-top: 16px;
  text-align: center;
  border-bottom: 1px solid #222;
  border-top: 1px solid #4c5764;
}

.review__counter {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}
