.page-header {
  position: relative;
  background-color: #283645;
}

.page-header__wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.page-header__nav-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #283645;
}

.page-header__logo {
  padding-left: 20px;

}
