.prices__table-wrapper {
  overflow: hidden;
  width: 320px;
  margin: 0 auto;
}

.prices__table {
  width: 100%;
  border-collapse: collapse;
  transform: translateX(-420px);
  margin-bottom: 38px;
  background: #ffffff;
}

.prices__title {
  margin: 0;
  font-family: Opensans-bold;
}

.prices__price {
  font-family: Opensans-light;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.prices__tariff {
  color: #fff;
  line-height: 30px;
  padding: 16px 0 16px 20px;
  text-align: center;
  background-color: #283645;
  min-width: 275px;

}

.prices__tariff--standart {
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}

.prices__options {
  padding: 6px 8px 7px 16px;
  width: 152px;
  border: 2px solid #e5e5e5;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  background-color: #fff;
}

.prices__options--yes::before {
  content: "";
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
  background-image: url(../img/icon-yes.svg);
  background-size: 31px auto;
  background-repeat: no-repeat;
}

.prices__options--no::before {
  content: "";
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
  background-image: url(../img/icon-no.svg);
  background-size: 31px auto;
  background-repeat: no-repeat;
}

.prices__controls {
  display: flex;
  justify-content: center;
}
