.testimonials__list {
  margin: 0 0 20px;
  padding: 42px 20px 20px;
  list-style: none;
  text-align: center;
}

.testimonials__item {
  display: none;
}

.testimonials__item--active {
  display: block;
}

.testimonials__name {
  margin: 0 auto 14px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #333;
}

.testimonials__controls {
  display: flex;
  justify-content: center;
}
