@import "blocks/clients-cards.scss";
@import "blocks/filter.scss";
@import "blocks/footer.scss";
@import "blocks/info.scss";
@import "blocks/information.scss";
@import "blocks/intro.scss";
@import "blocks/main-nav.scss";
@import "blocks/main.scss";
@import "blocks/page-header.scss";
@import "blocks/prices.scss";
@import "blocks/testimonials.scss";
@import "blocks/container-app.scss";
@import "blocks/device.scss";
@import "blocks/information__description";
@import "blocks/information__content";
@import "blocks/controls.scss";
@import "blocks/testimonials__slider.scss";
@import "blocks/prices__table-wrapper.scss";
@import "blocks/info__additional.scss";
@import "blocks/info__map.scss";
@import "blocks/main-nav__wrapper.scss";
@import "blocks/clients-cards__list";
@import "blocks/filter__settings.scss";
@import "blocks/filter__form.scss";
@import "blocks/social.scss";
@import "blocks/main__form.scss";
@import "blocks/main__name.scss";
@import "blocks/main__achievment.scss";
@import "blocks/main__details.scss";
@import "blocks/main__device.scss";
@import "blocks/main__text.scss";
@import "blocks/form.scss";

@font-face {
  font-family: MYRIADPRO-REGULAR;
  src: url(../fonts/MYRIADPRO-REGULAR.woff) format("woff");
}

@font-face {
  font-family: MYRIADPRO-REGULAR;
  src: url(../fonts/MYRIADPRO-REGULAR.woff2) format("woff2");
}

@font-face {
  font-family: Opensans-light;
  src: url(../fonts/opensanslight.woff) format("woff");
}

@font-face {
  font-family: Opensans-light;
  src: url(../fonts/opensanslight.woff2) format("woff2");
}

@font-face {
  font-family: Opensans-bold;
  src: url(../fonts/opensansbold.woff) format("woff2");
}

@font-face {
  font-family: Opensans-bold;
  src: url(../fonts/opensansbold.woff2) format("woff2");
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/opensans.woff) format("woff2");
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/opensans.woff2) format("woff2");
}


body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  background: #fff;
  color: #333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.btn {
  width: 280px;
  min-width: 280px;
  padding: 13px 10px;
  min-height: 55px;
  margin-left: 0;
  border-radius: 36px;
  font-family: inherit;
  text-align: center;
  letter-spacing: .2px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
